@import "tailwindcss";
@theme {
  --font-inter: Inter, sans-serif;
}

@layer theme {
  :root {
    font-feature-settings: "liga" 1, "calt" 1;
  }

  @supports (font-variation-settings: normal) {
    :root {
      --font-inter: InterVariable, sans-serif;
    }
  }
}
@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
